{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Ого, не ожидала кого-то здесь увидеть!{% endblock %}
{% block content %}
  <h5>
    Эйй постой, не уходи, раз уж ты пришёл
    послушай мою историю...
  </h5>
  <article>
    Заходит как-то в бар... Ой это не то, 
    всё началось 19 января 2004, 
    я помню это было холодное зимнее утро, 
    шёл снег и ветки берёзы цапали по окну операционной, 
    когда врач перерезал мне пуповину... 
    Ладно, ладно, я поняла, что не нужно рассказывать, 
    начиная со дня своего рождения, 
    ну тогда перенесёмся в настоящие, 
    в унылую, полную проблем взрослую жизнь, 
    а может всё-таки о детстве поговорим, нет, ну ладно. 
    Дело было осенью, чудесная пора, мерзкий моросящий дождик
    и холодный ветер сопровождали меня в тот день, 
    наверное погода хотела меня предупредить о надвигающейся буре,
    но было поздно, ведь мой разум уже был помутнён идеей
    бросить универ, знаете расставаться всегда сложно,
    особенно когда инициатива идёт от девушки,
    отпускать меня не хотели, условились взять паузу,
    но я зря время не теряла и нашла новое занятие,
    вот так я и пришла в мир программирования.
    <p>
      <h5>Досье на автора</h5>
      <p>
        <img src="{% static 'img/chief_pirate1.png' %}"
             width="200">
      </p>  
      ПАЧИ КРИСТИНА, ОНА ЖЕ "ЧЁРНАЯ БЕСТИЯ"<br>
      БОЛЬШУЮ ЧАСТЬ ВРЕМЕНИ ЗАНИМАЕТСЯ БЕЗДЕЛЬЕМ.<br>
      В ДЕТСТВЕ БЫЛА БЛАГОВОСПИТАННОЙ ДЕВОЧКОЙ,<br>
      НО СВЯЗАЛАСЬ С ГОРНОЛЫЖНИКАМИ<br>
      И ПОКАТИЛАСЬ...<br>
      ОЧЕНЬ ХИТРАЯ, НО УДАЧНО<br>
      ПРИТВОРЯЕТСЯ БЕЗОБИДНОЙ.<br>
      ХАРАКТЕР ОТСУТСТВУЕТ.<br>
      НЕ ЗАМУЖЕМ.
    </p>
    <p>
      <h5>Досье на помощника автора</h5> 
      <p>
        <img src="{% static 'img/pussy_pirate1.png' %}"
             width="200">
      </p>
      КАСПЕР, ОН ЖЕ "СЕРАЯ БЕСТИЯ", ОН ЖЕ "СЛАДКИЙ ПУПСИК".<br>
      ЗАНИМАЕТСЯ НЕЛЕГАЛЬНОЙ ЛОВЛЕЙ ПТИЧЕК.<br>
      ПРОДАЁТ И УПОТРЕБЛЯЕТ МЯТУ.<br>
      В ДЕТСТВЕ БЫЛ БЛАГОВОСПИТАННЫМ МАЛЬЧИКОМ,<br>
      НО СВЯЗАЛСЯ С ШЕРСТЯНЫМ КЛУБКОМ<br>
      И ПОКАТИЛСЯ...<br>
      ОЧЕНЬ ТУП, ПРОЖОРЛИВ, ЛЕНИВ,<br>
      НЕ ПРИТВОРЯЕТСЯ БЕЗОБИДНЫМ.<br>
      ХАРАКТЕР СКВЕРНЫЙ.<br>
      КОСТРИРОВАН.
  </article>
{% endblock %}